html{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding:0;
    font-size:14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
}

ul,li{
    list-style: none;
    padding:0;
    margin:0;
}

footer{
    background: #FFFFFF;
    width:100%;
    height: 50px;
    border-top:1px solid rgb(118,211,251);
    position: fixed;
    bottom:0;
    box-sizing: border-box;

}
.txt-center{
    text-align: center;
}
.widths{ 
    height: 100%;
    padding-top:11px;
    cursor: pointer;
}
.widths>div>i{
    color: rgb(58,152,255);
}
.colorred{
    color:red;
}
.order-content {
    padding: 15px 0;
}

.floatright {
    float: right;
}

.user-item {
    margin-top: 10px;
    margin-right: 40px;
}

.borderbotm {
    border-bottom: 1px solid #EBEBEB;
}

.fontwei {
    font-weight: 700;
}

.colorgray>span {
    text-decoration: underline;
}

.colorgray {
    color: gray;
}

.orderdata {
    padding: 5px 15px;
}

.gray {
    background: #f7f6f6;
    height: 100%;
}

.pwddata {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.user-pwddata,
.user-order,
.user-content,
.user-pay {
    margin: 10px 0;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    background: #ffffff;
}

.back {
    position: absolute;
    top: 0.8rem;
    left: 2%;
    cursor: pointer;
    z-index: 200;
}

.greener h3 {
    margin-bottom: 10px;
}

.grid-contnet {
    min-height: 36px;
}

.disinblock {
    display: inline-block;
}

.header-content {
    min-height: 40px;
    position: relative;
    top: -10px;
}

.padleft {
    padding-left: 45px;
}

.padbom {
    padding-bottom: 15px;
}


img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.greener {
    background: #66CDAA;
    color: #ffffff;
}

/*home*/
.grid-contes{
    min-height: 36px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: center;
    padding-top: 20px;
    color: rgb(58, 152, 255);
    cursor: pointer;
}
.grid-contes:hover{
    background: rgba(58, 152, 255,0.1);
    color:rgba(58, 152, 255,0.7)
}
/* login */
.modal-head>h3{
    margin: 0;
    line-height: 40px;
}
.modal-head{
    background: rgb(118, 211, 251);
    color:#ffffff;
}
.modal-body {
    padding-top:25px;
    padding-right:1rem;
}

.modal {
    border: 1px solid rgb(118, 211, 251);
    margin: 0 auto;
    margin-top: 8rem;
    border-radius: 5px;
    width: 20rem;
    min-height: 100px;
}
/* common */
.card_header {
    width: 100%;
    min-height: 50px;
}

.card_body {
    width: 95%;
    min-height: 200px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
}

.card_text {
    font-size: 1rem;
}

.card_item {
    padding: 0.6rem 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 100%;
}